@using WebProje2.Models.Siniflar
@model List<Iletisim>
@{
    ViewBag.Title = "ContactListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="/Admin/ContactSil/@x.ID" class="btn btn-danger">Sil</a></td>

        </tr>
    }
</table>

